<div class="rhelper">
  <div class="block">
    <div class="title"><h3>Welcome to Green Commons Q&A</h3></div>
    <div class="bdesc">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Uspendiss ipsum ipsum, laoreet eget est eget, aliquet porttitor sapien. Nean lobortis velit vitae ante posuere molestie.
    </div>
  </div>
  <div class="block">
    <div class="title"><h3>Latest tags</h3></div>
    <div class="tags">
      <% @tag_thr.each do |k,v| %>
          <%= tag_schema(k,v) %>
      <% end %>
    </div>
  </div>
  <% if !@achievements.blank? %>
    <div class="block">
      <div class="title"><h3>Latest achievements</h3></div>
      <div class="achievements">
        <% @achievements.each do |achievement| %>
          <div><%= achievement_schema(achievement.badge,:count=>false) %> <%=raw achievement.user.sname %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
