<%= form_tag '',:id=>:urluploader,:autocomplete => :off do %>
    <div class="field">
      <%= text_field_tag 'url',nil %>
      <% submit_tag 'search', :class => 'btn btn-clear-blue' %>
      <div id="urluploader_results"></div>
    </div>
<% end %>