<% if current_user %>
  <div class="small_font"><strong>By email:</strong></div>
  <% if @subscribe %>
  New questions with this tag will be sent to your email
    <%= link_to 'Do not notify',subscribe_thr_url(:name=>@thr),:class=> 'remote-update'  %>
  <% else %>
    <%= link_to 'Get notified',subscribe_thr_url(:name=>@thr),:class=> 'remote-update'  %>
  <% end %>
<% end %>

